@keyframes zigzagFall {
    0% { 
      transform: translate(0, -300%); 
    }
    10% {
      transform: translate(300px, -270%); 
    }
    20% {
      transform: translate(-250px, -240%); 
    }
    30% {
      transform: translate(300px, -210%); 
    }
    40% { 
      transform: translate(-250px, -180%); 
    }
    50% {
      transform: translate(300px, -150%); 
    }
    60% {
      transform: translate(-250px, -120%); 
    }
    70% {
      transform: translate(300px, -90%); 
    }
    80% {
      transform: translate(-250px, -60%); 
    }
    90% {
      transform: translate(300px,-30%); 
    }
    100% {
      transform: translate(0, 0%); 
    }
  }
  
  .shake {
    animation: zigzagFall 1s ease forwards; /* Adjust duration as needed */
    z-index: 100;
  }
  
  .eraser-container {
    position: relative;
    z-index: 100; /* doubleModal보다 높은 값을 설정 */
  }
  
  .dust {
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: rgba(160, 160, 160, 0.521);
    border-radius: 50%;
    animation: dustAnimation 0.5s ease forwards;
  }
  
  @keyframes dustAnimation {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(1) translateX(var(--scatterX)) translateY(var(--scatterY));
      opacity: 1;
    }
    100% {
      transform: translateX(var(--scatterX)) translateY(var(--scatterY)) scale(0);
      opacity: 0;
    }
  }
  