@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Gulim';
  src: url('/fonts/GulimR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NamuGulim';
  src: url('/fonts/NamuGulimR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ModernGulim';
  src: url('/fonts/ModernGulimR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Socks';
  src: url('/fonts/SocksR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kids';
  src: url('/fonts/KidsR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.page {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}



html, body {
  height: 100%;
  min-height: 100%;
  background-color: #FAF3E0; 
  margin: 0; 
}

@keyframes blurFadeOut {
  0% {
    filter: blur(20px);
  }
  10% {
    filter: blur(10px);
  }
  20% {
    filter: blur(16px);
  }
  30% {
    filter: blur(8px);
  }
  40% {
    filter: blur(12px);
  }
  50% {
    filter: blur(6px);
  }
  60% {
    filter: blur(8px);
  }
  70% {
    filter: blur(4px);
  }
  80% {
    filter: blur(4px);
  }
  90% {
    filter: blur(2px);
  }
  100% {
    filter: blur(0px);
  }
}
.blur-effect1 {
  animation: blurFadeOut 5s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-15s {
  animation-delay: 1.5s;
}

.delay-2s {
  animation-delay: 2s;
}

.delay-25s {
  animation-delay: 2.5s;
}

.delay-3s {
  animation-delay: 3s;
}

.slide-image {
  transition: opacity 0.3s ease;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.textWithShadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
