@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} 전체 페이지에 적용되는 css- 여기 확인함 1/17*/

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Gulim';
  src: url('/public/fonts/GulimR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NamuGulim';
  src: url('/public/fonts/NamuGulimR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ModernGulim';
  src: url('/public/fonts/ModernGulimR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Socks';
  src: url('/public/fonts/SocksR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kids';
  src: url('/public/fonts/KidsR.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.page {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  /* 기타 스타일링 */
}

body {
  color: rgb(var(--foreground-rgb));

  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.flip-horizontal {
  transform: scaleX(-1);
}
.pastel-background {
  background-image: linear-gradient(
    to bottom,
    #fda5a550 0%,
    #fda5a550 16.666%,
    #fdbb7450 16.666%,
    #fdbb7450 33.333%,
    #fcd34d50 33.333%,
    #fcd34d50 50%,
    #86efac50 50%,
    #86efac50 66.666%,
    #93c5fd50 66.666%,
    #93c5fd50 83.333%,
    #c4b5fd50 83.333%,
    #c4b5fd50 100%
  );
}

.custom-textarea {
  font-size: 3rem;
}

@keyframes blurFadeOut {
  0% {
    filter: blur(20px);
  }
  25% {
    filter: blur(15px);
  }
  50% {
    filter: blur(10px);
  }
  75% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}

.blur-effect {
  animation: blurFadeOut 5s ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 1s ease-out forwards;
}

.delay-1s {
  animation-delay: 1s;
}

.delay-15s {
  animation-delay: 1.5s;
}

.delay-2s {
  animation-delay: 2s;
}

.delay-25s {
  animation-delay: 2.5s;
}

.delay-3s {
  animation-delay: 3s;
}

.slide-image {
  transition: opacity 0.3s ease;
}

.hover-effect:hover {
    background-color: #008bff;
}